In [0]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = (
    SparkSession.builder
    .config('spark.ui.port', '0')
    .config(
        "spark.sql.warehouse.dir",
        f"/user/{username}/warehouse"
    )
    .enableHiveSupport()
    .getOrCreate()
)

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from pyspark.sql.functions import *

In [0]:
spark = SparkSession.builder.getOrCreate()

In [0]:
data = [Row(1, "John", 30, "Sales", 50000.0),
 Row(2, "Alice", 28, "Marketing", 60000.0),
 Row(3, "Bob", 32, "Finance", 55000.0),
 Row(4, "Sarah", 29, "Sales", 52000.0),
 Row(5, "Mike", 31, "Finance", 58000.0),
 Row(6, "Jane", 35, "Marketing", 62000.0),
 Row(7, "Tom", 33, "Sales", 54000.0),
 Row(8, "Lucy", 27, "Marketing", 59000.0),
 Row(9, "David", 36, "Finance", 65000.0),
 Row(10, "Emma", 26, "Marketing", 61000.0)
]

In [0]:
data

[<Row(1, 'John', 30, 'Sales', 50000.0)>,
 <Row(2, 'Alice', 28, 'Marketing', 60000.0)>,
 <Row(3, 'Bob', 32, 'Finance', 55000.0)>,
 <Row(4, 'Sarah', 29, 'Sales', 52000.0)>,
 <Row(5, 'Mike', 31, 'Finance', 58000.0)>,
 <Row(6, 'Jane', 35, 'Marketing', 62000.0)>,
 <Row(7, 'Tom', 33, 'Sales', 54000.0)>,
 <Row(8, 'Lucy', 27, 'Marketing', 59000.0)>,
 <Row(9, 'David', 36, 'Finance', 65000.0)>,
 <Row(10, 'Emma', 26, 'Marketing', 61000.0)>]

In [0]:
schema = StructType([
 StructField("id", IntegerType(), nullable=False),
 StructField("name", StringType(), nullable=False),
 StructField("age", IntegerType(), nullable=False),
 StructField("department", StringType(), nullable=False),
 StructField("salary", DoubleType(), nullable=False)
])

In [0]:
schema

StructType([StructField('id', IntegerType(), False), StructField('name', StringType(), False), StructField('age', IntegerType(), False), StructField('department', StringType(), False), StructField('salary', DoubleType(), False)])

In [0]:
employeeDF = spark.createDataFrame(data, schema)

In [0]:
employeeDF.show()

+---+-----+---+----------+-------+
| id| name|age|department| salary|
+---+-----+---+----------+-------+
|  1| John| 30|     Sales|50000.0|
|  2|Alice| 28| Marketing|60000.0|
|  3|  Bob| 32|   Finance|55000.0|
|  4|Sarah| 29|     Sales|52000.0|
|  5| Mike| 31|   Finance|58000.0|
|  6| Jane| 35| Marketing|62000.0|
|  7|  Tom| 33|     Sales|54000.0|
|  8| Lucy| 27| Marketing|59000.0|
|  9|David| 36|   Finance|65000.0|
| 10| Emma| 26| Marketing|61000.0|
+---+-----+---+----------+-------+

In [0]:
employeeDF.printSchema()
employeeDF.select("name", "salary").show()

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- age: integer (nullable = false)
 |-- department: string (nullable = false)
 |-- salary: double (nullable = false)

+-----+-------+
| name| salary|
+-----+-------+
| John|50000.0|
|Alice|60000.0|
|  Bob|55000.0|
|Sarah|52000.0|
| Mike|58000.0|
| Jane|62000.0|
|  Tom|54000.0|
| Lucy|59000.0|
|David|65000.0|
| Emma|61000.0|
+-----+-------+

In [0]:
#calculate the average salary for each department
averagesalbydept = employeeDF.groupBy("department").agg(avg("salary").alias("avg_salary"))
averagesalbydept.show()

+----------+------------------+
|department|        avg_salary|
+----------+------------------+
|     Sales|           52000.0|
| Marketing|           60500.0|
|   Finance|59333.333333333336|
+----------+------------------+

In [0]:
from pyspark.sql.functions import avg

averagesalbydept = (
    employeeDF.groupBy("department")
    .agg(
        avg("salary").alias("avg_salary")
    )
)
display(averagesalbydept)

department,avg_salary
Sales,52000.0
Marketing,60500.0
Finance,59333.333333333336

In [0]:
#Add a new column named "bonus" that is 10% of the salary for all employees
employeeDF = employeeDF.selectExpr('*', "salary * 0.1 as bonus")
employeeDF.show()

+---+-----+---+----------+-------+------+
| id| name|age|department| salary| bonus|
+---+-----+---+----------+-------+------+
|  1| John| 30|     Sales|50000.0|5000.0|
|  2|Alice| 28| Marketing|60000.0|6000.0|
|  3|  Bob| 32|   Finance|55000.0|5500.0|
|  4|Sarah| 29|     Sales|52000.0|5200.0|
|  5| Mike| 31|   Finance|58000.0|5800.0|
|  6| Jane| 35| Marketing|62000.0|6200.0|
|  7|  Tom| 33|     Sales|54000.0|5400.0|
|  8| Lucy| 27| Marketing|59000.0|5900.0|
|  9|David| 36|   Finance|65000.0|6500.0|
| 10| Emma| 26| Marketing|61000.0|6100.0|
+---+-----+---+----------+-------+------+

In [0]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("Spark DataFrames")
    .getOrCreate()
)

In [0]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("Spark DataFrames")
    .getOrCreate()
)

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from pyspark.sql.functions import *

In [0]:
spark = SparkSession.builder.getOrCreate()

In [0]:
# Define the data
data = [Row(1, "John", 30, "Sales", 50000.0),
 Row(2, "Alice", 28, "Marketing", 60000.0),
 Row(3, "Bob", 32, "Finance", 55000.0),
 Row(4, "Sarah", 29, "Sales", 52000.0),
 Row(5, "Mike", 31, "Finance", 58000.0)
]

In [0]:
schema = StructType([
 StructField("id", IntegerType(), nullable=False),
 StructField("name", StringType(), nullable=False),
 StructField("age", IntegerType(), nullable=False),
 StructField("department", StringType(), nullable=False),
 StructField("salary", DoubleType(), nullable=False)
])

In [0]:
employeeDF = spark.createDataFrame(data, schema)

In [0]:
employeeDF.show()

+---+-----+---+----------+-------+
| id| name|age|department| salary|
+---+-----+---+----------+-------+
|  1| John| 30|     Sales|50000.0|
|  2|Alice| 28| Marketing|60000.0|
|  3|  Bob| 32|   Finance|55000.0|
|  4|Sarah| 29|     Sales|52000.0|
|  5| Mike| 31|   Finance|58000.0|
+---+-----+---+----------+-------+

In [0]:
#Calculate the average salary for each department:
from pyspark.sql.functions import avg

averagesalbydept = (
    employeeDF.groupBy("department")
    .agg(
        avg("salary").alias("avg_salary")
    )
)
averagesalbydept.show()

+----------+----------+
|department|avg_salary|
+----------+----------+
|     Sales|   51000.0|
| Marketing|   60000.0|
|   Finance|   56500.0|
+----------+----------+

In [0]:
#add a new column named "bonus" thaat is 10% of the salary for all employees
employeeDF = employeeDF.selectExpr('*', "salary * 0.1 as bonus")
employeeDF.show()

+---+-----+---+----------+-------+------+
| id| name|age|department| salary| bonus|
+---+-----+---+----------+-------+------+
|  1| John| 30|     Sales|50000.0|5000.0|
|  2|Alice| 28| Marketing|60000.0|6000.0|
|  3|  Bob| 32|   Finance|55000.0|5500.0|
|  4|Sarah| 29|     Sales|52000.0|5200.0|
|  5| Mike| 31|   Finance|58000.0|5800.0|
+---+-----+---+----------+-------+------+

In [0]:
#add a new column named "bonus" thaat is 10% of the salary for all employees
employeeDF = employeeDF.withColumn("bonus", col("salary") * 0.1)
employeeDF.show()

+---+-----+---+----------+-------+------+
| id| name|age|department| salary| bonus|
+---+-----+---+----------+-------+------+
|  1| John| 30|     Sales|50000.0|5000.0|
|  2|Alice| 28| Marketing|60000.0|6000.0|
|  3|  Bob| 32|   Finance|55000.0|5500.0|
|  4|Sarah| 29|     Sales|52000.0|5200.0|
|  5| Mike| 31|   Finance|58000.0|5800.0|
+---+-----+---+----------+-------+------+

In [0]:
#Group the data by department and find the employee with
#the highest salary in each department
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

windowSpec = Window.partitionBy("department").orderBy("salary")
highestSalByDept = employeeDF.withColumn("row_number", row_number().over(windowSpec)).filter(col("row_number") == 1).drop("row_number")
highestSalByDept.show()

+---+-----+---+----------+-------+------+
| id| name|age|department| salary| bonus|
+---+-----+---+----------+-------+------+
|  3|  Bob| 32|   Finance|55000.0|5500.0|
|  2|Alice| 28| Marketing|60000.0|6000.0|
|  1| John| 30|     Sales|50000.0|5000.0|
+---+-----+---+----------+-------+------+

In [0]:
#Find the top 3 departments with the highest total salary
from pyspark.sql.functions import sum

top3Dept = (
    employeeDF.groupBy("department")
    .agg(
        sum("salary").alias("total_salary")
    )
    .orderBy(col("total_salary").desc())
    .limit(3)
)
top3Dept.show()

+----------+------------+
|department|total_salary|
+----------+------------+
|   Finance|    113000.0|
|     Sales|    102000.0|
| Marketing|     60000.0|
+----------+------------+

In [0]:
#find the top most department having highest salary
from pyspark.sql.functions import sum

topDept = (
    employeeDF.groupBy("department")
    .agg(
        sum("salary").alias("total_salary")
    )
    .orderBy(col("total_salary").desc())
    .limit(1)
)
topDept.show()

+----------+------------+
|department|total_salary|
+----------+------------+
|   Finance|    113000.0|
+----------+------------+

In [0]:
#Find the top most department having highest salary
employee_CTE = employeeDF.groupBy("department").agg(sum("salary").alias("total_salary"))
windowSpec = Window.orderBy(col("total_salary").desc())
department_rank = employee_CTE.withColumn("row_number", row_number().over(windowSpec))
topDept = department_rank.filter(col("row_number") == 1).select("department")
topDept.show()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

+----------+
|department|
+----------+
|   Finance|
+----------+

In [0]:
#Filter the DataFrame to keep only employees aged 30 or above and
#working in the "Sales" department
above30Sales = employeeDF.filter((col("age") >= 30) & (col("department") == "Sales"))
above30Sales.show()

+---+----+---+----------+-------+------+
| id|name|age|department| salary| bonus|
+---+----+---+----------+-------+------+
|  1|John| 30|     Sales|50000.0|5000.0|
+---+----+---+----------+-------+------+

In [0]:
#Calculate the difference between each employee's salary and the average
#salary of their respective department
windowSpec = Window.partitionBy("department")
employeeDF = employeeDF.withColumn("avg_salary", avg("salary").over(windowSpec))
from pyspark.sql.functions import col, expr

diffSalDf = employeeDF.withColumn("salary_diff", expr("salary - avg_salary"))
diffSalDf.show()

+---+-----+---+----------+-------+------+----------+-----------+
| id| name|age|department| salary| bonus|avg_salary|salary_diff|
+---+-----+---+----------+-------+------+----------+-----------+
|  1| John| 30|     Sales|50000.0|5000.0|   51000.0|    -1000.0|
|  2|Alice| 28| Marketing|60000.0|6000.0|   60000.0|        0.0|
|  3|  Bob| 32|   Finance|55000.0|5500.0|   56500.0|    -1500.0|
|  4|Sarah| 29|     Sales|52000.0|5200.0|   51000.0|     1000.0|
|  5| Mike| 31|   Finance|58000.0|5800.0|   56500.0|     1500.0|
+---+-----+---+----------+-------+------+----------+-----------+

In [0]:
#Calculate the sum of salaries for employees whose names start with the letter "J"
sumSalaries = employeeDF.filter(col("name").startswith("J")).agg(sum("salary").alias("sum_salary"))
sumSalaries.show